streamlit
langchain
langchain-groq
langchain-community # <--- Add this line
langchain-text-splitters # <--- Add this line if not already there
langchain-ollama # <--- Add this line if not already there
pydantic
python-dotenv
faiss-cpu
sentence-transformers
pypdf
