streamlit
langchain
langchain-community
langchain-text-splitters
pydantic
python-dotenv
faiss-cpu
sentence-transformers
pdfplumber
tiktoken
# FORCE UPDATES for Gemini 2.0 support:
langchain-google-genai>=2.0.0
google-generativeai>=0.8.3